/* Regular */

@font-face {
    font-family: 'Muller';
    src: local(''),
         url('../fonts/MullerRegular.ttf') format('truetype'),
         url('../fonts/MullerRegular.eot') format('embedded-opentype'),
         url('../fonts/MullerRegular.woff') format('woff'); 
    font-weight: 400;
    font-style: normal;
}

/* Medium */

@font-face {
    font-family: 'Muller';
    src: local(''),
         url('../fonts/MullerMedium.ttf') format('truetype'),
         url('../fonts/MullerMedium.eot') format('embedded-opentype'),
         url('../fonts/MullerMedium.woff') format('woff'); 
    font-weight: 500;
    font-style: normal;
}

/* Bold */

@font-face {
    font-family: 'Muller';
    src: local(''),
         url('../fonts/MullerBold.ttf') format('truetype'),
         url('../fonts/MullerBold.eot') format('embedded-opentype'),
         url('../fonts/MullerBold.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html { 
    font-family: 'Muller', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding:0;
}

body{
    background: #F1F1F1;
}

img {
    max-width: 100%;
  }

/* Header*/
.header {
    margin-top: 30px;
}

.header-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.header-up {
    display: flex;
    align-items: center;
}
.header-logo {  
    animation: alternate;
}

.header-logo-img {
    width: 261px;
    height: 54px;
}
.header-telephone {
    margin-right: auto;
    margin-left: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-account {
    display: flex;
}

.header-account-icon {
    background-image: url(/img/Vector.png);
    width: 21px;
    height: 12px;
    margin-right: 7px;
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
}
.header-account-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    display: inline-block;
}
.header-account-text:hover {
    color: #c71c1c;
}
.header-account-text:active {
    transform: translateY(4px);
}
.header-down {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 15px;
    margin-top: 30px;
    height: 70px;
}
.header-nav {
    margin-right: 45px;
    display: inline-block;
    
}
.header-list {
    display: flex;   
}
.header-list-elem {
    padding-left: 45px;
}
.header-nav-link {
    font-weight: 400px;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}
.header-list:last-child{
    margin-right: 0px;
}
.header-down-btn { 
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 325px;
    margin-right: auto;
    margin-left: 69px;
    white-space: nowrap;   
}
.btn {
    padding: 13px 20px;
    line-height: 16px;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    outline: none;
}
.btn:hover {background-color: rgb(138, 14, 14)}

.btn:active {
    background-color: #CC9933;
    transform: translateY(4px);
}

/*Main Section Offers*/
/*.offers {}*/

.offers-container{
    margin-bottom: 70px;
}
.offers-header{  
    padding-left: 40px;
    font-size: 40px;
    font-weight: 400;
}
.offers-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.offers-islands {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 573px;
}
.offers-list-maldives {
    background-image: url(../img/Rectangle15.png);
    display: flex;
    flex-direction: column;
    width: 573px;
    height: 258px;
    padding: 40px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}
.offers-list-crit {
    background-image: url(../img/Rectangle14.png);
    display: flex;
    flex-direction: column;
    width: 573px;
    height: 258px;
    padding: 40px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}
.offers-rooms {
    background-image: url(../img/Group13.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 573px;
    height: 540px;
    padding: 40px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: top left;
}
.offers-list-name{  
    width: 299px;
    font-size: 40px;
    margin: 0;
    margin-bottom: 15px;
    line-height: 1;
    font-weight: 700;
    color: white;
}
.offers-islands-price{  
    margin-bottom: auto;
    font-size: 20px;
    line-height: 1;
    color: white;
}
.offers-islands-links{
    display: flex;
    align-items: center;
    color: #FFCC66;
}
.offers-islands-text{ 
    display: inline-block;
    margin-right: 7px;
    font-size: 16px;
    line-height: 1;
}
.offers-islands-icon{ 
    display: inline-block;
    padding-left: 10px;
    width: 15px;
    height: 15px;
    background-image: url(../img/Rectangle2.svg);
    background-position: left center;
    background-repeat: no-repeat;
    color: #FFCC66;
}
.offers-rooms-list-name{  
    width: 299px;
    margin-bottom: 15px;
    line-height: 1;
    font-size: 60px;
    color: white;
    font-weight: 700;
}
.offers-rooms-islands-price{  
    margin-bottom: 47px;
    font-size: 30px;
    line-height: 1;
    color: white;
}


/*Main Section AboutUs*/
/*.aboutus{}*/
.aboutus-container{
    margin-bottom: 70px; 
}
.aboutus-header{  
    padding-left: 40px;
    font-size: 40px;
    font-weight: 400;   
}
.aboutus-text{
    max-width: 890px;
}


/*Main Section Services*/
/*.services{}*/
.services-container{
    margin-bottom: 45px;
}
.services-header{
    padding-left: 40px;
    font-size: 40px;
    font-weight: 400; 
}
.services-list {  
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
}
.services-list-elem{  
    width: 572px;
    padding-bottom: 50px;
    margin-bottom: 25px;
    border-radius: 12px;
    background-color:white
}
.services-list-elem:not(:nth-child(2n)) {
    margin-right: 26px;
}
.services-list-pic{
    margin-bottom: 26px;
}
.services-list-link{
    margin: 0;
    margin-left: 45px;
    display: flex;
    align-items: center;
    color: orange;
}
.services-list-link-text{  
    display: inline-block;
    margin-right: 7px;
    font-size: 20px;
    line-height: 2;
}
.services-list-icon {  
    display: inline-block;
    width: 10px;
    height: 15px;
    background-image: url(../img/Rectangle2.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
.services-list-text{
    width: 406px;
    margin: 0px;
    margin-left: 45px;
}


/*Main Section Advantages*/
/*.advantages{}*/
.advantages-container{
    margin-bottom: 45px;
}
.advantages-header{
    padding-left: 40px;
    font-size: 40px;
    font-weight: 400; 
}
.advantages-list {
    display: flex;
    flex: 1 1 25%;
    flex-wrap: wrap;
}
.advantages-list-elem {  
    width: 275px;
    padding: 42px 0 42px 45px;
    margin-bottom: 25px;
    border-radius: 12px;
    background-color: white;  
}
.advantages-list-elem:not(:nth-child(4n)){
    margin-right: 23px;
}
.advantages-list-pic {  
    display: block;
    height: 59px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top left;
    background-size: auto 100%;
}
.advantages-list-text{
    width: 187px;
}


/*Main Section Accommodation*/
/*.accommodation{}*/
.accommodation-container{
    margin-bottom: 45px;
}
.accommodation-header {
    padding-left: 40px;
    font-size: 40px;
    font-weight: 400;
}
.accommodation-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 33%;
}
.accommodation-list-elem {
    width: 373px;
    margin-bottom: 25px;
    padding-bottom: 42px;
    border-radius: 12px;
    background-color: white;
}
.accommodation-list-elem:not(:nth-child(3n)) {
    margin-right: 25px;
}
.accommodation-list-hotelpic{
    margin-bottom: 32px;

}
.accommodation-list-block{
    margin-left: 45px;

}
.accommodation-list-rating{
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
}
.accommodation-list-rating-text1{
    color:rgb(212, 182, 182);
    display: inline-block;
    height: 20px;
    margin: 0 0;
}
.accommodation-list-rating-text2{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 0 0;
    height: 20px;
}
.accommodation-list-rating-text3{
    display: inline-block;  
    height: 20px;
    margin: 0 0;
}
.accommodation-list-rating-stars{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
.star{
    padding-left: 6px;   
}
.accommodation-list-header{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
}
.accommodation-list-place{
    margin-bottom: 20px;
    color:gray;
}
.accommodation-list-btn{
    padding: 13px 20px;
    line-height: 16px;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
    background-color: white;
}
.accommodation-list-elem-all {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/Group37.png);
    width: 373px;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 25px;
    border-radius: 12px;
}
.accommodation-list-link-all {
    margin-left: 40px;
    margin-bottom: 55px;
    padding-right: 15px;
    font-size: 22px;
    color: white;
    font-weight: 500;
    background-image: url(../img/Rectangle21.svg);
    background-repeat: no-repeat;
    background-position: right center;
}


/*/*Main Section Want-tour*/
/*.want-tour{}*/  
.want-tour-container{
    width: 1170px;
    background-color: #E9E9E9;
    padding-top: 38px;
    padding-bottom: 71px;
    margin-bottom: 70px;
    border-radius: 15px;
}
.want-tour-header{
    padding-left: 40px;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 19px;
    padding: 0;
    padding-left: 25px;
}
.want-tour-form{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 32px 28px;
    margin: 0 30px;
    border-radius: 15px;
    background-color: white;
}
.want-tour-form-citydeparture-header {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
.want-tour-form-citydeparture-selector{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 10px;
    border-color: #999999;
}
.want-tour-form-cityarrival{

}
.want-tour-form-cityarrival-header{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;}
.want-tour-form-cityarrival-selector{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 10px;
    border-color: #999999;
}
.want-tour-form-departuredate{}
.want-tour-form-departuredate-header{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
.want-tour-form-departuredate-input{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #999999;
}
.want-tour-form-night{}
.want-tour-form-night-header{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
.want-tour-form-night-input{
    font-weight: 400;
    font-size: 16px;
    line-height: 5px;
    border-radius: 10px;
    border-color: #999999;
    border-width: 1px;
}
.want-tour-form-tourists{}

.want-tour-form-tourists-header{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
.want-tour-form-tourists-input{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #999999;
}
.want-tour-form-btn{
    width: 108px;
    height: 42px;
    
}



/*/*Main Section Contacts*/
/*.contacts{}*/  
.contacts-container{
width: 1170px;
}
.contacts-header{   
    padding-left: 40px;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 19px;
    padding: 0;
    padding-left: 25px;
    margin-bottom: 20px;

}
.contacts-block{
    display: flex;
    justify-content: space-between;
    padding: 45px 45px;
    border-radius: 15px;
    background-color: white;
}
.contacts-info{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 375px;
    height: 528px;
}
.contacts-info-adress{
    display: flex;
    margin-bottom: 49px;
}
.contacts-info-header{
    margin: 0 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
.contacts-info-adress-text{
    margin: 0 0 0 83px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.contacts-info-phones{
    display: flex;
    margin-bottom: 49px;
}
.contacts-info-phones-list{
    margin-left: 47px;
}
.contacts-info-phones-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}
.contacts-info-mail{
    display: flex;
    margin-bottom: 49px;
}
.contacts-info-mail-text{margin-left: 93px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
}
.contacts-info-mail-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;  
}
.contacts-info-schedule{
    display: flex;
    margin-bottom: 69px;
}
.contacts-info-schedule-text{
    margin: 0 0 0 74px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.contacts-btn{
    width: 213px;
    height: 70px;
    background-color: white;
}
.contacts-reception-picture{
    width: 653px;
    height: 528px;

}

/* Footer */
.footer-container{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 1170px;
    height: 341px;
    background-image: url(../img/Rectangle9.jpg);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer-block{
    display: flex;
    padding: 45px 45px;
}
.footer-block-text{
    display: flex;
    flex-direction:column;
    margin-right: 124px;
    width: 300px;
}
.footer-block-text-years{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
    margin-bottom: 37px;
    margin-top: 0;
}
.footer-block-text-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 0;
}
.footer-block-text-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}
.footer-block-contacts{
    display: flex;
    flex-direction:column;
    margin-right: 269px;
    width: 363px;
}
.footer-block-address{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 0;
    width: 358px;
    
}
.footer-block-contacts-phone{
    margin-bottom: 15px;
    margin-top: 0;
}
.footer-block-contacts-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}
.footer-block-contacts-picture {
    position: relative;
    left: 280px;
    bottom: 89px;
}
.footer-block-social{
    display: flex;
    flex-direction:column;
}
.footer-block-social-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}
.footer-block-social-icon{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 20px;
}
.tripadvisor{
    width: 24px;
    height: 24px;
    background-image: url('/img/trip.svg');}
.ok{
    width: 24px;
    height: 24px;
    background-image: url('/img/ok.svg');
}
.vk{
    width: 24px;
    height: 24px;
    background-image: url('/img/Group.svg');
}
